.anchor {
    -fx-background-image:url('pictures/launcherBackgroundFinal.png');
    -fx-background-size: 100% 100%;
    -fx-background-color: transparent;
}

.center{
    -fx-font-size: 30px;
}

.errorMessageRed{
    -fx-background-color: #c5c5c5;
    -fx-font-size: 20px;
    -fx-text-fill: white;
    -fx-alignment: center;
}